body{background-color: #FFDFD9;}
canvas {
    
    border:1px solid #d3d3d3;
    background-color:#7D4E45;
   -webkit-outline-offset: 2px;
   -moz-outline-offset: 2px;
   -o-outline-offset: 2px; 
   -ms-outline-offset: 2px;
    outline:3px solid #7D4E45;
    outline-offset: 2px;
}   
button{
    color: #7D4E45;
    border-radius: 10px;
}

input[type="text"]{
    border-radius:10px;
    width: 100px;
}
div {   
        -moz-box-sizing:border-box;
        -webkit-box-sizing:border-box; 
        -o-box-sizing:border-box; 
        -ms-box-sizing:border-box; 
        box-sizing:border-box; 
        outline: 3px solid #7D4E45;
        outline-offset: 2px;
        text-align:center;
        width:460px; 
        resize: vertical;
        overflow: auto;
        margin: 10px;
        margin-left: 10px;
        background-color: #7D4E45;
}

#type {
    font-size:12px;
    display: inline;
    color:#;

}
p{
    margin-bottom: 5px;
    font-family: sans-serif;
    color: #7D4E45;
    font-size: 13px;
}