

body{
	background-color:#f2eade;
}

#sentence{
	width: 100%;
	text-align: center;
	height: 50px;
	font-size: 50px;	
	display: inline-block;
	float: left;
	margin-top:50px ;
	color:#8fb5bd;
	animation: blink 4s infinite linear;
}


@-webkit-keyframes blink{
	0%{
		opacity: 0.9;
	}
	99%{
		opacity: 0.5;
	}
	100%{
		opacity: 0.9;
	}

@-moz-keyframes blink{
	0%{
		opacity: 0.9;
	}
	99%{
		opacity: 0.5;
	}
	100%{
		opacity: 0.9;
	}

@-o-keyframes blink{
	0%{
		opacity: 0.9;
	}
	99%{
		opacity: 0.5;
	}
	100%{
		opacity: 0.9;
	}

	@-ms-keyframes  blink{
	0%{
		opacity: 0.9;
	}
	99%{
		opacity: 0.5;
	}
	100%{
		opacity: 0.9;
	}

@keyframes blink{
	0%{
		opacity: 0.9;
	}
	99%{
		opacity: 0.5;
	}
	100%{
		opacity: 0.9;
	}
}

.line {
	width: 70px;
	height: 3px;
	background-color: white;
	display: inline-block;
	position: absolute;
	top: 250px;
	right: 650px;	
	margin-right: 20px;
}

.line2{
	top: 270px;
	width: 60px;
	height: 3px;
	background-color: white;
	display: inline-block;
	position: absolute;
	right:600px;
	margin-right: 20px;
}

.line3{
	top:290px;
	width: 70px;
	height: 3px;
	background-color:white;
	display: inline-block;
	position: absolute;
	margin-right: 20px;
	right: 650px;
}

