*{		margin:0px;
   font-family: sans-serif;
   
}
.nav1, a{
	text-decoration: none;
	color: #26647d;
}
.info{
    float: right;
}
.nav1{
	background-color: #558f9d;
	padding: 10px;
}
.nav1 hr{
	border: 0.7px solid #26647d;
	margin: 8px;
}

.nav2 h1{
	color: #e5e0cc;;
}
hr{
	color: black;
}
.nav2{
    background-color: #558f9d;
    padding-left: 15px;
    padding-bottom: 15px;

}

.table{ color: #8fb5bd;
	    padding-left: 15px;
		text-align: left;
		width:16.6%; 
		border-left: 2px solid #629caa;}

.table p{color: #e5e0cc;}
#product{
	color: #24627b;
}

#description{
	color: #26647d;
}


.section1{
	background-color: #f7f1d7;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	height: 600px;
	color: #333333;
}
#title{
	font-size: 60px;
}
.section11{
	margin-top: 30px;
	margin-left: 15px;
	width: 400px;
}
.section11 a{
	color: #cf6d50;
	background-color: #f1e6b8;
	padding: 10px 20px;
	
}
.section11 p:nth-child(2) {
	line-height: 27px;
}
.section12{
    
	width: 500px;
	height: 300px;
	background-color: #333333;
    position: absolute;
    top: 180px;
    left: 800px;
	

}