body{   margin: 0px;
	    background-color: #ebebe0;
        background-attachment: fixed;
        background-size: cover;
}
.nav1, a{
	background-color: rgb(13, 13, 13);
	color: white;
}
.banner{		
		width: 720px;
        padding: 20px;
        text-align: justify;
        background-color: white;
        opacity: 0.6;
        font-weight: bolder;
        margin: auto;
        position: absolute;	
        top: 230px; 
        left: 294px;
    }
.banner ol{
	line-height: 30px;
}
.banner h1{
		text-align: center;
		font-style: italic;

}
 .newsbelow{ 
 		width:60%;
        margin:auto;
        background-color: white;
        padding: 10px 30px;
        text-align: center;
        align-items: center;
}
.newsbelow img{
	width: 800px;
	height: 500px;
}
.newsbelow p{
	font-size: 20px;
}
#date{
	margin-top: 20px;
	margin-bottom: 20px;
}
.newsbelow hr{
	margin-top: 60px;	
	margin-bottom: 60px;
}
.middle img { 
	    position: fixed;
	    top: 620px;   
	    left: 1313px;
}
#continuebutton{
	border: none;
	font-size: 15px;
	color: white;
	background-color: black;
	padding: 5px 15px;
	border-radius: 5px;
	cursor: pointer;
}