*{		margin:0px;
   font-family: "Times New Roman", Times, serif;
   
}

.nav1, .nav2{
	background-color: #558f9d;
	background-image: linear-gradient(to right, rgb(85,143,157),rgb(102,154,166),rgb(85,143,157));
}

.nav1, a{
	text-decoration: none;
	color: #26647d;
}

.nav1 a:hover{
    color: #d35050;
}
.info{
    float: right;	
    padding-right: 30px;
}
.nav1{
	z-index: 1;
	width: 100%;
	padding-top: 15px;
	padding-left: 15px;
	position: fixed;
	color: #26647d;
}
.nav1 hr{
	border: 0.7px solid #26647d;
	margin-top: 8px;
	margin-bottom: 8px;
	margin-right: 30px;

}

.nav2 h1{
	color: #e5e0cc;
}
.nav2{
     padding: 10px;
     position: relative;	
     top: 50px;

}
 .nav2 a:not(#product){
	text-decoration: none;
	color: #8fb5bd;
}
#product{
	color: #24627b;	
	text-decoration: none;
} 

.table{ padding-left: 15px;
		text-align: left;
		width:16.6%; 
		border-left: 2px solid #629caa;}

.table p{color: #e5e0cc;}

#description{
	color: #26647d;
}


.section1{
	background-color: #f7f1d7;
	border-top: 2px solid black;
	padding-top: 50px;
	border-bottom: 2px solid black;
	color: #333333;
    position: relative;
    width: 100%;
    top: 51px;
    padding-bottom: 30px;


}
#title{
	font-size: 60px;
	color: #333333;

}
.section11{
	width:100%;
	height:350px;
	display: flex;
	margin-top: -40px;
}
.section11a{
	margin-top: 23px;
	margin-left: 20px;
	margin-right: 125px;
	width:500px;	
	height: 300px;	
}
.section11a a{
	color: #cf6d50;
	background-color: #f1e6b8;
	padding: 10px 20px;
}
.section11a p:nth-child(2) {
	line-height: 27px;
}
.section11b{
    margin-top: 23px;
    margin-left: 200px;
	float: right;
	width:500px;
	height: 300px;
	padding-right: 20px;
	
}

.section11b img{
	border:2px solid #a7a7a7;
	padding:2px;
}
/*.section22{
	display: flex;
	padding-left: 20px;
	margin-bottom: 20px;
}
.section22a{
    margin-right: 191px;
    padding: 5px;*/
}
.section22{
	position: absolute;
}
.section22 div:first-child{
	margin-left:20px;
}
.section22a {
	display: inline-block;
	width:300px;
	margin-left:200px;
	
}

.section22a img{
	border:2px solid #a7a7a7;
	padding:2px;
	margin:1px;
}

#title1{
	text-align: center;
}
#hrcontact{
	margin: 0px 100px 0px 100px;
}

#container1{	
	text-align: left;
    border-radius: 5px;
    padding: 20px;
    width: 60%;
    margin: auto;
    margin-top: 20px;
 }

input[type=submit] {
    background-color: gray;
    color: white;
    padding: 12px 20px;
    border: 1.5px dashed purple;
    border-radius: 6px;
    cursor: pointer;
}
input[type=text], input[type=email], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}#container2	{	
	text-align: center;
    width: 60%;
    margin: auto;
    margin-top: 20px;
    padding: 30px;
 }
#rightdiv{
	float: right;
	margin-right: 47px;
}
#leftdiv{
	float: left;
	margin-left: 47px;
}	
.lista{
	list-style-type: square;
}

.leftp{  text-align: left;
        float: left;
        padding-left: 15px;

         }
.rightp{ text-align: right;
        float: right;
        padding-right: 15px;
        
         }
.about-wrapper{
	background-image: linear-gradient(to right, rgb(255, 255, 204), rgb(85,143,157));
	margin: -20px;
	padding: 20px;
}
.contact-wrapper{
	background-image: radial-gradient(closest-side at 70% 50%, rgb(191, 128, 255), rgb(161, 196, 196), rgb(239, 245, 245));
	margin: -20px;
	padding: 20px;
}

.section33{
	padding-top: 25px;
	background-color: #eae6d6;

}
.section33 h1{
	
	font-weight: lighter;

}

.section33 div:first-child{
	margin-left:20px;
}


.section33a {
	display: inline-block;
	width:300px;
	margin-left:200px;
	text-align: justify;
	
	
}
.section33a hr{
		margin-top:15px;
		margin-bottom: 15px;
}

.section33a img{
	border:1px solid black;
	padding: 5px;
	margin:1px;
	margin-right: 15px;

}

.section33a figcaption{
	font-size: 12px;
	line-height: 19px;
	color: #666666;
	font-family: "Verdana";
	margin-right: 15px;

}

.section33a a{
	color:#ce6c50;
	font-size: 12px;
	line-height: 19px;
	font-family: "Verdana";
	margin-right: 15px;
}

.section33a a:hover{
	text-decoration: none;

}

.section33b{
	width:66.6%;
	margin-left: 20px;
	display: inline-block;

}
.section33c{ 
	margin-left: 100px;
	width: 300px;
	margin-right: 15px;	
	display: inline-block;
	text-align: justify;
}

.section33c img{
	border:1px solid black;
	padding: 5px;
	margin-right: 15px;
}
.section33c figcaption{
	
	font-size: 24px;
	color: #000000;
	font-family: "Deja Vu Sans";
	line-height: 19px;
	margin-right: 15px;
	padding-top: 15px;
 
}

.section33c hr{
	padding:0px;
	width: 300px;
	margin-top: 40px;
	margin-bottom: 5px;
}

.section33b p{
	font-size: 12px;
	line-height: 19px;
	color: #666666;
	font-family: "Verdana";
	margin-right: 15px;
}
 .section33b a{
	color:#ce6c50;
	font-size: 12px;
	line-height: 19px;
	font-family: "Verdana";
	margin-right: 15px;
	
}

.section33b a:hover{
	text-decoration: none;

}
.section33c p{
	font-size: 12px;
	color: #666666;
	font-family: "Verdana";
	line-height: 19px;
	position: relative;
	bottom: 10px;
}

.section33c a{
	color:#ce6c50;
	font-size: 12px;
	font-family: "Verdana";
	text-align: left;
	float: right;
	margin-bottom: 20px;
	margin-top: 15px;
}

.section33c a:hover{
	text-decoration: none;

}
.footerdiv{
     	background-color: #d7d3ad;
      	width: 100%;
      	height: 20px;
      	padding-top: 10px;
      	padding-bottom: 10px;
         }
.footerdiv p:first-child{
		padding-left: 20px;
}
.footerdiv p:nth-child(2){
	padding-right: 20px;
	margin-top: -15px;
}

.about-boxet{
	width:100%;
	height:600px;
	float:left;
	margin-top:35px;

}

.about-box{
	width:20%;
	height:250px;
	float:left;
	margin-left:31px;
	background-color:#f9f9f9;
	margin-bottom: 31px;
    color: #666;
}

#abt1{
	margin-left:  100px;
}

.about-foto{
margin-top:19px;
width:100%;
height:100%;
}

.ab-titulli{margin-top:20px;}
.about-boxet p{margin-top:10px;
				color: orange;}

.about-boxet h4{

	text-align: center;
	font-size:17px;
	font-weight: 300;
	color: #666;
	font-weight:bold;
}

#result{
	color: #34495E;
	margin-bottom: 5px;
	margin-top: 5px;
	padding-top:2px;
	padding-bottom: 2px;
}
.about-search{
	margin-left: 30%;
	margin-bottom: 50px;
}
.about-search p {
	color: 	 #005580;
}
.about-search table{

  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
  border: 1px solid red;
  color: #330033;

}

.about-search td,th{
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.about-search tr:nth-child(even) {
  background-color: #dddddd;
}

.about-search tr:nth-child(odd) {
  background-color: #ffffff;
}

.about-search input[type="text"]{
	
	width: 50%;
	 padding: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;

}
/*.footerdiv{
     	background-color: #d7d3ad;
      	width: 100%;
      	height: 20px;
      	padding-top: 10px;
      	padding-bottom: 10px;
      	position: relative;
      	bottom: 10px;
    	
         }*/

